/*  Custom Default Style Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  a {
    text-decoration: none;
  }
  html { font-size: 10px; }


/* Header */


.nav {
    display: flex;
    font-family: 'Oswald', sans-serif;
    background-color: beige;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
   
}
.nav ul {
    list-style: none;
    display: flex; 
    font-size: 2.4rem; 
}
.nav ul li {
    margin-right: 2rem;
}
.nav ul li a {
    color: black;
}
.nav ul li a:hover {
    color: red;
}

/* Login Header */
.login {
    font-size: 2rem;
    margin-right: 3rem;
}
.login a {
    margin-right:2rem;
    color: black;
}
.login a:hover {
    color: red;
}