/*  Custom Default Style Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  a {
    text-decoration: none;
  }
  html { font-size: 10px; }

body {
  background-color: beige;
}
/* Header */


.nav {
    display: flex;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(238, 238, 194);
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
   
}
.nav ul {
    list-style: none;
    display: flex; 
    font-size: 2.4rem; 
}
.nav ul li {
    margin-right: 2rem;
}
.nav ul li a {
    color: black;
}
.nav ul li a:hover {
    color: red;
}

/* Login Header */
.login {
    font-size: 2rem;
    margin-right: 3rem;
}
.login a {
    margin-right:2rem;
    color: black;
}
.login a:hover {
    color: red;
}

/* FOOTER */

.footer {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(238, 238, 194);
 
}
.footer ul {
 padding: 1rem;
 display: flex;
 justify-content: space-between;
 margin: auto;
 width: 40rem;
 list-style: none;


}
.footer li {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.footer-copyright {
  padding: .4rem;
}
.footer p {
  text-align: center;
}
.icons-x {
  transform: scale(1.5, 1.5);
}



/* About Us */
.about-us-container {
  padding: 8rem;
  font-family: 'Oswald', sans-serif;
  
}

.about-us-container h1 {
  font-size:  2.4rem;

}

.about-us-container h2 {
  font-size:  2rem;
  
}

.about-us-sub {
  margin-top: 1.5rem;

}

.about-us-container p {
  font-size: 1.6rem;
}